@use "../abstracts/index" as *;

.reButton {
  padding: 1.2rem 2.2rem;
  border: none;
  outline: none;
  font-family: $font-tertiary;
  font-size: 1.8rem;
  color: $white;
  background-color: $button-color;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $button-color-light;
  }
}
