@use "../abstracts/index" as *;

.table-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-content: center;
}

.table {
  font-family: $font-primary;
  font-size: 1.6rem;
  border-collapse: collapse;
  margin: 8.8rem 0;
  min-width: 40rem;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);

  &__head {
    font-family: $font-secondary;
    font-size: 2.4rem;
    font-weight: 900;
    text-align: left;
    background-color: $table-heading;
    color: $white;
  }

  &__body {
    tr {
      border-bottom: 1px solid #dddddd;
    }

    tr:nth-of-type(even) {
      background-color: $grey-light--1;
    }

    tr:last-of-type {
      border-bottom: 2px solid $table-heading;
    }
  }

  th,
  td {
    padding: 1.2rem 1.5rem;
    text-align: center;
    max-width: 20rem;
  }
}
